{{#bs-dropdown}}
  {{#bs-dropdown-toggle}}
    <i class="icon-ellipsis"></i>
  {{/bs-dropdown-toggle}}
  {{#bs-dropdown-menu}}
    {{#each-in nonVisibleOptions as |key value|}}
      <li>
        <a href='#' {{action "showField" key}}> {{value.label}} </a>
      </li>
    {{/each-in}}
  {{/bs-dropdown-menu}}
{{/bs-dropdown}}
