{{#bs-dropdown as |dd|}}
  {{#dd.toggle}}
    <i class="icon-ellipsis"></i>
  {{/dd.toggle}}
  {{#dd.menu}}
    {{#each-in nonVisibleOptions as |key value|}}
      <li>
        <a href='#' {{action "showField" key}}> {{value.label}} </a>
      </li>
    {{/each-in}}
  {{/dd.menu}}
{{/bs-dropdown}}
